<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
   
  </head>
  <body class="errorpage">
    <div class="errorhead">
      <br />
      <h1 style="text-align: left; font-size: 50px">Server Error</h1>
    </div>
    <br /><br />
    <div class="container errorcontain">
      <h2 class="errortitle"><%= errortitle %></h2>
      <p style="font-weight: bold;"><%= errorcontain %></p>
      <br />
      <a href="/" style="float: left;" class="back"
        ><img
          src="https://www.lifewire.com/thmb/v2m3kGKCOAbv6NDEhtbULW8Akc4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/RedButton_LeftArrow.svg-58014c285f9b5805c222f65f.png"
          alt="back"
          width="50px"
          height="50px"
          class="backimg"
      /></a>
    </div>
  </body>
</html>