<%- include('partials/header.ejs') -%>;  
<div class="container">
    <h4 class="title" style="color: white; font-family: 'Secular One', sans-serif;"> TITLE- <%=title%></h4>
    <div>
    <p style="color: white; font-family: 'Ubuntu Condensed', sans-serif;"> <%= postbody %></p>
    </div>
</div>

