<%- include('partials/header.ejs') -%>;   


<div class="container homecard">
    <div class="row align-items-center justify-content-center">
      <div
        class="card   col-md-3  col-sm-1  m-4"
        style="width: 18rem"
        style="align-items: cetner"
      >
        <img
          class="card-img-top"
          src="https://static.vecteezy.com/system/resources/previews/000/435/138/original/businessman-daily-routine-concept-poster-vector.jpg"
          alt="Card image cap"
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Secular One', sans-serif;">Daily routine</h5>
          <p class="card-text" style="font-family: 'Ubuntu Condensed', sans-serif;">
            In this site we can write our daily routine for the future
          </p>
        </div>
      </div>
      <div
        class="card col-md-3  col-sm-1 m-4"
        style="width: 18rem"
        style="align-items: center"
      >
        <img
          class="card-img-top"
          src="https://th.bing.com/th/id/OIP.-0YMcvIegtVlw30M8An7twHaEt?pid=ImgDet&rs=1"
          alt="Card image cap"
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Secular One', sans-serif;">Time Table</h5>
          <p class="card-text">
            In this site we can also write our schedule or time table for the
            future
          </p>
        </div>
      </div>
      <div
        class="card col-md-3  col-sm-1 m-4"
        style="width: 18rem"
        style="align-items: center"
      >
        <img
          class="card-img-top"
          src="https://th.bing.com/th/id/R.6ea62135eae7b0d78a43b6941fad8b42?rik=sgkBAQoix8gpiw&riu=http%3a%2f%2fwww.thewritingbarn.com%2fwp-content%2fuploads%2f2013%2f11%2ftaking-notes.jpg&ehk=9wF%2bG6toEd1DGFN2So4jpzFW8IlMOMR%2fec6GQu%2bhGDw%3d&risl=&pid=ImgRaw&r=0"
          alt="Card image cap"
          style="height: 200px;"
        />
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Secular One', sans-serif;">Notes</h5>
          <p class="card-text">
            we can also write some important notes and our account details
            also
          </p>
        </div>
      </div>
    </div>
  </div>
  <% if(name !=""){ %>

  <div class="container"><a href="/logout" class="btn btn-lg btn-outline-light" style="float: right;">logout</a></div>
  <% }  %>
  